<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Group</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/join.css">
</head>
<body>
     <header>
      <nav>
        <div class="logo">
          <h1>Group-Portal</h1>
        </div>
        <div class="menu">
          <ul>
            <li class="join">Join-Group</li>
            <li class="create">Create-Group</li>
            <li class="logout">Logout</li>
            <li>
                <select id="select">
                    <option value="All">All Group</option>
                    <option value="public">public Group</option>
                    <option value="private">Private Group</option>
                </select>
            </li>
            <li><input type="search" class="search" placeholder="search group"></input></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
    </main>
    <script src="../js/JoinGroup.js"></script>
</body>
</html>